.module {
    background-color: #2E2E41;
    margin-bottom: 2rem;
    color: white;
}

.module-title {
    background-color:#1C2033;
    color: white;
    padding: 10px 15px;
    font-weight: 500;
}

.module-content {
    padding: 0px 15px;
    overflow: hidden;
}

.skin-avatar {
    width: 32px;
    height: 32px;
}

.recent-module .player-name, .top-module .player-name {
    font-weight: 700;
}


.module-price {
    color: #198754;
    font-weight: 500;
}