.card-container {
    background-color: #e2e2e2;
    width: 100%;
}

.category-links {
  text-align: center;
}

.paid-success {
  text-align: center;
}

.category-links .nav-link {
  color: white !important;
  padding: 1rem 1.5rem;
  margin: 0 10px;
}


.nav-links {
  color: white;
}