.package-card {
    border-radius: 10px;
    background-color: #ebebeb;
}

.package-card h5 {
    font-size: 1rem;
    text-align: center;
}

.shop-menu {
    padding: 0px 2rem;    
    background-color: #455a64;
}


.card-image {
    height: 128px;
    width: 128px;
}

.price {
    color: green;
}

