.login {
    background-color: white;
    height: 100%;
    padding: 10% 20%;
    text-align: center !important;
    height: 350px;
    border: 1px solid black;
}

.username-field {
    width: 15rem;
}